/* color palette from:  https://coolors.co/6b6054-929487-a1b0ab-c3dac3-d5ecd4 */

/* CSS HEX */
--umber: #6b6054ff; /* medium brown - need white font color */
--artichoke: #929487ff; /* beige/brown color - need white font */
--ash-gray: #a1b0abff;  /* blueish gray color - can use black font */
--cambridge-blue: #c3dac3ff;  /* medium greenish blue - can use black font */
--nyanza: #d5ecd4ff;  /* lighter green parchment type color - can use black font */

/* CSS HSL */
--umber: hsla(31, 12%, 37%, 1);
--artichoke: hsla(69, 6%, 55%, 1);
--ash-gray: hsla(160, 9%, 66%, 1);
--cambridge-blue: hsla(120, 24%, 81%, 1);
--nyanza: hsla(118, 39%, 88%, 1);

/* SCSS HEX */
$umber: #6b6054ff;
$artichoke: #929487ff;
$ash-gray: #a1b0abff;
$cambridge-blue: #c3dac3ff;
$nyanza: #d5ecd4ff;

/* SCSS HSL */
$umber: hsla(31, 12%, 37%, 1);
$artichoke: hsla(69, 6%, 55%, 1);
$ash-gray: hsla(160, 9%, 66%, 1);
$cambridge-blue: hsla(120, 24%, 81%, 1);
$nyanza: hsla(118, 39%, 88%, 1);

/* SCSS RGB */
$umber: rgba(107, 96, 84, 1);
$artichoke: rgba(146, 148, 135, 1);
$ash-gray: rgba(161, 176, 171, 1);
$cambridge-blue: rgba(195, 218, 195, 1);
$nyanza: rgba(213, 236, 212, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #6b6054ff, #929487ff, #a1b0abff, #c3dac3ff, #d5ecd4ff);
$gradient-right: linear-gradient(90deg, #6b6054ff, #929487ff, #a1b0abff, #c3dac3ff, #d5ecd4ff);
$gradient-bottom: linear-gradient(180deg, #6b6054ff, #929487ff, #a1b0abff, #c3dac3ff, #d5ecd4ff);
$gradient-left: linear-gradient(270deg, #6b6054ff, #929487ff, #a1b0abff, #c3dac3ff, #d5ecd4ff);
$gradient-top-right: linear-gradient(45deg, #6b6054ff, #929487ff, #a1b0abff, #c3dac3ff, #d5ecd4ff);
$gradient-bottom-right: linear-gradient(135deg, #6b6054ff, #929487ff, #a1b0abff, #c3dac3ff, #d5ecd4ff);
$gradient-top-left: linear-gradient(225deg, #6b6054ff, #929487ff, #a1b0abff, #c3dac3ff, #d5ecd4ff);
$gradient-bottom-left: linear-gradient(315deg, #6b6054ff, #929487ff, #a1b0abff, #c3dac3ff, #d5ecd4ff);
$gradient-radial: radial-gradient(#6b6054ff, #929487ff, #a1b0abff, #c3dac3ff, #d5ecd4ff);
